.principal {
    background: #2a07ee;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missão { 
   color:rgb(47, 47, 68);
   font-size: 18px;
}

#banner{
    width: ;    
}

.beneficios-titulos {
    text-align: center; 
}

.itens {
    font-style: italic
}

.beneficios {
       background-color: aliceblue;
}